<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4go3NL48j_oDSK-yJ7GWmrqD9AO9NyLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>640696792111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fazaa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fazaa-4a55a</string>
	<key>STORAGE_BUCKET</key>
	<string>fazaa-4a55a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640696792111:ios:be0108c3f8b90b96b282da</string>
</dict>
</plist>